.title{
    position: relative;
    top: -800px;
    text-align: center;
    color: #0000ff;
    text-shadow: 0px 0px 4px #0000ff;
}
.text{
    position: relative;
    top: -800px;
    text-align: center;
    color: #000000;
}