.title{
    position: absolute;
    top: 12.5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 350%;
    color: #0000ff;
    text-shadow: 0 0 4px #0000ff;
}
.text{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 250%;
    color: #000000;
}
.image{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}
.talk{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 250%;
}