ul.navigation{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 7.5%;
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    overflow: hidden;
    background-color: #c8c8c8;
}
ul.navigation li{
    width: 10%;
    display: flex;
    float: left;
}
ul.navigation li a{
    width: 100%;
    height: 100%;
    font-size: 220%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    text-decoration: none;
}
ul.navigation li a.active{
    background-color: #50dd50;
    color: #ffffff;
}/*当前点击的*/
ul.navigation li a:hover:not(.active){
    background-color: #646464;
    color: #ffffff;
}/*悬浮*/
select{
    position: absolute;
    top: 2%;
    height: 4.5%;
    width: 5%;
    right: 4%;
    background-color: #e0e0e0;
}
.background{
    height: 100%;
    margin: 0;
    background-image: linear-gradient(to bottom right, #b8b8ff, #d8d8ff);
}
footer{
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%);
    font-size: 130%;
}
body, html{
    position: relative;
    height: 100%;
    margin: 0;
    min-width: 1400px;
    min-height: 800px;
    font-size: 11px;
    overflow: auto;
    box-sizing: border-box;
}