ul.navigation{
    position: relative;
    top: -800px;
    list-style-type: none;
    background-color: #c8c8c8;
    height: 60px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
ul.navigation li{
    float: left;
}
ul.navigation li a{
    display: block;
    color: #000000;
    text-align: center;
    padding: 1px 50px;
    text-decoration: none;
}
ul.navigation li a.active{
    background-color: #50dd50;
    color: #ffffff;
}/*当前点击的*/
ul.navigation li a:hover:not(.active){
    background-color: #646464;
    color: #ffffff;
}/*悬浮*/
.background{
    height: 800px;
    margin: 0;
    background-image: linear-gradient(to bottom right, #b8b8ff, #d8d8ff);
}