.leftText{
    position: absolute;
    top: 12.5%;
    left: 30%;
    transform: translate(-50%);
    font-size: 250%;
    color: #000000;
}
.rightText{
    position: absolute;
    top: 12.5%;
    left: 70%;
    transform: translate(-50%);
    font-size: 250%;
    color: #000000;
}