canvas{
    position: absolute;
    margin: 0;
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    width: 80%;
    font-size: 300%;
    background-color: #dddddd;
}
#startOrEnd{
    position: absolute;
    left: 5%;
    transform: translateX(-50%);
    top: 10%;
    width: 7%;
    font-size: 200%;
    background-color: #eeeeee;
}
#stop{
    position: absolute;
    left: 5%;
    transform: translateX(-50%);
    top: 20%;
    width: 5%;
    font-size: 200%;
    background-color: #eeeeee;
}
.settings{
    position: absolute;
    left: 5%;
    transform: translateX(-50%);
    top: 25%;
    width: 6%;
    font-size: 200%;
}
.settings input{
    width: 80%;
    background-color: #eeeeee;
}
.feedback{
    position: absolute;
    right: 5%;
    transform: translateX(50%);
    top: 25%;
    width: 7%;
    font-size: 200%;
    overflow: hidden;
}
.feedback #timeSpeed{
    width: 75%;
    background-color: #eeeeee;
}