.images{
    position: absolute;
    list-style-type: none;
    top: 15%;
    left: 20%;
    transform: translateX(-50%);
}
.link{
    position: absolute;
    list-style-type: none;
    top: 25%;
    right: 30%;
    font-size: 180%;
    transform: translateX(-50%);
}