ul{
    position: relative;
    top: -800px;
    list-style-type: none;
    background-color: #c8c8c8;
    height: 60px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
li{
    float: left;
}
li a{
    display: block;
    color: #000000;
    text-align: center;
    padding: 1px 50px;
    text-decoration: none;
}
li a:hover{
    background-color: #646464;
    color: #ffffff;
}/*悬浮*/
li a.active{
    background-color: #64ff64;
    color: #ffffff;
}/*当前点击的*/
.background{
    height: 800px;
    margin: 0;
    background-image: linear-gradient(to bottom right, #c8c8ff, #e6e6ff);
}