.title{
	position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 45px;
}
.input{
	position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}
#messages{
	position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
	height:75%;
	width: 95%;
	font-size: 180%;
	overflow:auto;
	padding:20px;
	border:1px solid #555588;
	background-color: #dddddd;
}