.inputTodo{
    position: absolute;
    top: 30%;
    right: 30%;
    width: 15%;
}
.addTodo{
    position: absolute;
    top: -5px;
    left: 95px;
    font-size: 100%;
    border-color: #c0c0c0;
    background-color: #e0e0e0;
}
#todo{
    font-size: 300%;
    max-width: 200px;
    width: auto;
    border: none;
    outline: none;
    background-color: transparent;
}
#todoList{
    position: absolute;
    top: 17.5%;
    left: 20%;
    height: 50%;
    width: 15%;
    font-size: 200%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    list-style-type: none;
}
.todos{
    height: 25%;
    width: 80%;
    margin: 1%;
    font-size: 100%;
    overflow: hidden;
    border-color: #c0c0c0;
    background-color: #e0e0e0;
}
#vquote{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    font-size: 150%;
    font-style: italic;
    text-decoration: underline;
}
#change{
    font-size: 250%;
    border: none;
    background-color: transparent;
}
input:hover{
    text-decoration: underline;
}