.todo{
    position: relative;
    text-align: center;
    top: -650px;
}
input{
    text-align: center;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 35px;
    max-width: 200px;
}
button{
    border: none;
    background-color: transparent;
    font-size: 30px;
}
input:hover{
    text-decoration: underline;
}