{% extends "learning_logs/base.html" %}
{% block page_header %}
  <h1>我的</h1>
{% endblock page_header %}

{% block content %}
{% if user.is_authenticated %}
  <h4>用户名：{{ user.username }}.ID:{{ user.id }}.
  <a href="{% url 'users:logout' %}">退出账号</a>
  <a href="{% url 'users:login' %}">切换账号</a></h4>
  
{% else %}
  <h4>请先<a href="{% url 'users:register' %}">注册</a>
  或<a href="{% url 'users:login' %}">登录</a></h4>
{% endif %}
  <h3>我的主题</h3><ul>
  	{% for topic in mine %}
      <li><h3>
      	<a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
      </h3></li>
  	{% empty %}
  	  <li><h3>尚未添加主题。</h3></li>
    {% endfor %}
  </ul>
{% endblock content %}